In [45]:
#1291

while True:
  input_a = input().split()
  s = int(input_a[0])
  e = int(input_a[1])

  if (s>9 or s<2) or (e>9 or e<2):    #or이랑 and 헷갈리지말기
    print("INPUT ERROR!")
  else:
    break

if s<e:
  for i in range(1,10):
    for j in range(s,e+1):
      print("{} * {} = {:2d}".format(j,i,j*i),"  ",end = '')  #간격맞추기
    print()
else:
  for i in range(1,10):
    for k in range(s,e-1,-1):
      print("{} * {} = {:2d}".format(k,i,k*i),"  ",end = '')
    print()

5 3
5 * 1 =  5   4 * 1 =  4   3 * 1 =  3
5 * 2 = 10   4 * 2 =  8   3 * 2 =  6
5 * 3 = 15   4 * 3 = 12   3 * 3 =  9
5 * 4 = 20   4 * 4 = 16   3 * 4 = 12
5 * 5 = 25   4 * 5 = 20   3 * 5 = 15
5 * 6 = 30   4 * 6 = 24   3 * 6 = 18
5 * 7 = 35   4 * 7 = 28   3 * 7 = 21
5 * 8 = 40   4 * 8 = 32   3 * 8 = 24
5 * 9 = 45   4 * 9 = 36   3 * 9 = 27

In [48]:
#1341


while True:
  input_a = input().split()
  s = int(input_a[0])
  e = int(input_a[1])

  if (s>9 or s<2) or (e>9 or e<2):    #or이랑 and 헷갈리지말기
    print("INPUT ERROR!")
  else:
    break

if s<e:
  for j in range(s,e+1):
    for i in range(1,10,3):
      print("{} * {} = {:2d}   {} * {} = {:2d}   {} * {} = {:2d}".format(j,i,j*i,j,i+1,j*(i+1),j,i+2,j*(i+2)))  #간격맞추기
    print()
else:
  for j in range(s,e-1,-1):
    for i in range(1,10,3):
      print("{} * {} = {:2d}   {} * {} = {:2d}   {} * {} = {:2d}".format(j,i,j*i,j,i+1,j*(i+1),j,i+2,j*(i+2)))
    print()

5 3
5 * 1 =  5   5 * 2 = 10   5 * 3 = 15
5 * 4 = 20   5 * 5 = 25   5 * 6 = 30
5 * 7 = 35   5 * 8 = 40   5 * 9 = 45

4 * 1 =  4   4 * 2 =  8   4 * 3 = 12
4 * 4 = 16   4 * 5 = 20   4 * 6 = 24
4 * 7 = 28   4 * 8 = 32   4 * 9 = 36

3 * 1 =  3   3 * 2 =  6   3 * 3 =  9
3 * 4 = 12   3 * 5 = 15   3 * 6 = 18
3 * 7 = 21   3 * 8 = 24   3 * 9 = 27

In [54]:
#1303

input_a = input().split()
n = int(input_a[0])
m = int(input_a[1])
number = 1

for i in range(1,n+1):
  for j in range(1,m+1):
    print("{}".format(number), end=" ")
    number +=1

  print()

3 6
1 2 3 4 5 6
7 8 9 10 11 12
13 14 15 16 17 18

In [74]:
#1856

input_a = input().split()
n = int(input_a[0])
m = int(input_a[1])
number = 1

for i in range(n):
  if i%2 ==0:
    for j in range(1,m+1):
      print("{}".format(number),end=" ")
      number +=1 
    print()
    number +=m-1
  
  else:
    for j in range(1,m+1):
      print("{}".format(number),end = " ")
      number -=1
    print()
    number +=m+1

4 5
1 2 3 4 5
10 9 8 7 6
11 12 13 14 15
20 19 18 17 16

In [81]:
#1304

n = int(input())

number = 1

for i in range(n):
  for j in range(number,n*n+1,n):
    print(j,end = " ")
  number+=1
  print()

5
1 6 11 16 21
2 7 12 17 22
3 8 13 18 23
4 9 14 19 24
5 10 15 20 25

In [89]:
#2046

input_a = input().split()
n = int(input_a[0])
m = int(input_a[1])

if m ==1:
  for i in range(1,n+1):
    for j in range(n):
      print(i,end=" ")
    print()

elif m ==2:
  for i in range(n):
    if i%2==0:
      for j in range(1,n+1):
        print(j,end=" ")
      print()
    else:
      for j in range(n,1-1,-1):
        print(j,end =" ")
      print()
  
elif m==3:
  for i in range(1,n+1):
    for j in range(i,i*n+1,i):
      print(j,end =" ")
    print()

5 3
1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25