In [1]:
#740
a = int(input())
b = int(input())
c = int(input())

print("sum :",a+b+c)
print("avg :",(a+b+c)//3)

10
25
33
sum : 68
avg : 22

In [2]:
#741
a = int(input())

print(a)
print(a+2)

5
5
7

In [3]:
#742
a = int(input())+100
b = int(input())%10

print(a,b)

20
35
120 5

In [5]:
#743
a = int(input())
b = int(input()) -1
c = a*b

print(a+1,b,c)

10
20
11 19 190

In [7]:
#744
a = int(input())
b = int(input())

if a==b:
  print("True")
  print("False")
else:
  print("False")
  print("True")

5
5
True
False

In [9]:
#745
a = int(input())
b = int(input())

print("{} > {} --- {}".format(a,b,a>b))
print("{} < {} --- {}".format(a,b,a<b))
print("{} >= {} --- {}".format(a,b,a>=b))
print("{} <= {} --- {}".format(a,b,a<=b))

4
5
4 > 5 --- False
4 < 5 --- True
4 >= 5 --- False
4 <= 5 --- True

In [ ]:
#747
a = int(input())
b = int(input())
c = int(input())

print(a>b and a>c,a==b==c)

In [16]:
#748
a= input()
b = input()
print(a*2+b*3)

two
three
twotwothreethreethree

In [17]:
#749
a = int(input())
b = int(input())
c = int(input())
d = int(input())

print("sum",a+b+c+d)
print("avg",(a+b+c+d)//4)

70
95
63
100
sum 328
avg 82

In [1]:
#750
a = int(input())
b = int(input())

print("{} / {} = {} ... {}".format(a,b,a//b,a%b))

35
10
35 / 10 = 3 ... 5

In [2]:
#751
a = int(input())+5
b = int(input())*2

print("width =",a)
print("length =",b)
print("area =",a*b)

20
15
width = 25
length = 30
area = 750

In [3]:
#752
a = int(input())+1
b = int(input())

print(a,b)
print(a,b-1)

10
15
11 15
11 14

In [7]:
#753
a = int(input("Brother? "))
b = int(input("Sister? "))

print(a!=b)

Brother? 5
Sister? 5
False

In [8]:
#754
a = int(input())
b= int(input())
c = int(input())
d = int(input())

if a>c and b>d:
  print("True")

else:
  print("False")

150
35
145
35
False

In [9]:
#755
a = input()
b = input()

print("{} and {}".format(a,b))
print(a+"&"+b)

spongebob
patrick
spongebob and patrick
spongebob&patrick

In [10]:
#756
a = input()
b = input()
c = int(input())

print(b*c+a)

wolf
sheep
3
sheepsheepsheepwolf