In [2]:
#700
print('Python')

Python

In [6]:
#701
print('Score:')
print(100)
print('GREAT!')

Score:
100
GREAT!

In [7]:
#702
print('My height')
print(170)
print('My weight')
print(68.6)

My height
170
My weight
68.6

In [9]:
#703
print("1plus1","=", "Gwi yo mi")      #쉼표쓰면 띄워쓰기 되더라!

1plus1 = Gwi yo mi

In [12]:
#704
print("(@) (@)")
print("(=^.^=)")
print("(-m-m-)")

(@) (@)
(=^.^=)
(-m-m-)

In [14]:
#705
print(5,"Dan")
print("5 * 2 =",5*2)

5 Dan
5 * 2 = 10

In [15]:
#706
print("6 + 2 =",6+2)
print("6 - 2 =",6-2)
print("6 * 2 =",6*2)
print("6 / 2 =",6/2)

6 + 2 = 8
6 - 2 = 4
6 * 2 = 12
6 / 2 =  3.0

In [16]:
#707
print("My name is Hong")

My name is Hong

In [17]:
#708
print("My hometown")
print("Flowering mountain")

My hometown
Flowering mountain

In [19]:
#709
print("TTTTTTTTTT")
print("TTTTTTTTTT")
print("    TT    ")
print("    TT")
print("    TT")

TTTTTTTTTT
TTTTTTTTTT
    TT
    TT
    TT

In [20]:
#710
print("kor",90)
print("mat",80)
print("eng",100)
print("sum",90+80+100)
print("avg",(90+80+100)//3)   #정수 나누기

kor 90
mat 80
eng 100
sum 270
avg 90

In [21]:
#720
num = -100
print(num)

-100

In [22]:
#721
num1 = -1
num2 = 100
print(num1)
print(num2)

-1
100

In [23]:
#722
num1 = 55
num2 = 10
print(num1,"-",num2,"=",num1-num2)

num1 = 2008
num2 = 1999
print(num1,"-",num2,"=",num1-num2)

55 - 10 = 45
2008 - 1999 = 9

In [24]:
#723
weight = 49
gravity = 0.2683

print(weight,"*",gravity,"=",weight*gravity)

49 * 0.2683 = 13.1467

In [32]:
#724
name = input("School? ")

print("Your school is",name)

School? ewef
Your school is ewef.

In [39]:
#725
num1 = input("Number 1? ")
num2 = input("Number 2? ")

int_a = int(num1)
int_b = int(num2)

print(int_a,"*",int_b,"=",int_a*int_b)
print(int_a,"/",int_b,"=",int_a/int_b)    #input은 str인것 잊지않기

Number 1? 16
Number 2? 5
16 * 5 = 80
16 / 5 = 3.2

In [40]:
#726
garo = input("Garo? ")
sero = input("Sero? ")

num1= float(garo)
num2= float(sero)

print(num1*num2)

Garo? 2.5
Sero? 4.0
10.0

In [42]:
#727
print1 = input()
print2 = input()
print3 = input()

print(print1)
print(print2)
print(print3)

Hello. I love
studying computer
very much.
Hello. I love
studying computer
very much.

In [44]:
#728
num1 = 10
num2 = 20
num3 = 30
print(num1,"+",num2,"=",num3)

10 + 20 = 30

In [45]:
#729
num1 = 80.5
num2 = 22.34
print(num1,num2,num1+num2)

80.5 22.34 102.84

In [50]:
#730
num1 = 50
num2 = 10.5

print(num2,"*",num1,"=",num1*num2)

10.5 * 50 = 525.0

In [51]:
#731
num1 = input()
num2 = input()
num3 = input()

int_a = int(num1)
int_b = int(num2)
int_c = int(num3)

print("sum =",int_a+int_b+int_c)
print("avg =",(int_a+int_b+int_c)//3)

20
50
100
sum = 170
avg = 56

In [52]:
#732
num = input("yard? ")

float_a = float(num)

print(float_a,"yard =",91.44*float_a,"cm")

yard? 10.1
10.1 yard = 923.544 cm