##04-1.리스트와 반복문

**리스트에 요소 추가하기**

리스트명.append(요소)

리스트명.insert(위치,요소)

In [ ]:
#리스트를 선언합니다.
list_a=[1,2,3]

#리스트 뒤에 요소 추가하기.
print("#리스트 뒤에 요소 추가하기")
list_a.append(4)
list_a.append(5)
print(list_a)
print()

#리스트 중간에 요소 추가하기
print("#리스트 중간에 요소 추가하기")
list_a.insert(0,10)
print(list_a)

#리스트 뒤에 요소 추가하기
[1, 2, 3, 4, 5]

#리스트 중간에 요소 추가하기
[10, 1, 2, 3, 4, 5]

리스트명.extend([여러요소])

In [ ]:
list_a= [1,2,3]
list_a.extend([4,5,6])
print(list_a)   #append함수를 세번 반복 실행한 효과

[1, 2, 3, 4, 5, 6]

**리스트 요소 제거**

del 리스트명[인덱스]

리스트명.pop(인덱스)       >pop()의 매개변수에 아무것도 입력안하면 -1로 자동 인식해서 마지막 요소를 제거

In [ ]:
list_a = [0,1,2,3,4,5]
print("#리스트의 요소 하나 제거하기")

# 제거 방법[1]-del
del list_a[1]
print("del list_a[1]:",list_a)

# 제거 방법[2]-pop()
list_a.pop(2)
print("pop(2): ",list_a)

#리스트의 요소 하나 제거하기
del list_a[1]: [0, 2, 3, 4, 5]
pop(2):  [0, 2, 4, 5]

리스트.remove(값)

In [ ]:
list_c = [1,2,1,2]
list_c.remove(2)
list_c

[1, 1, 2]

모두 없앨때는 

리스트.clear()

In [ ]:
list_d = [0,1,2,3,4,5]
list_d.clear()
list_d

[]

**리스트 내부에 있는지 확인하기**

값 in 리스트//값 not in 리스트

In [ ]:
list_a=[273,32,103,57,52]
print(273 in list_a)
print(99 not in list_a)

True
True

for 반복자 in 반복할 수 있는 것:
    
    코드

In [ ]:
#리스트를 선언합니다.
array=[273,32,103,57,52]

#리스트에 반복문을 적용합니다.
for element in array:
  print(element)

273
32
103
57
52

##04-2.딕셔너리와 반복문

리스트: 인덱스 기반으로

딕셔너리: 키를 기반으로

ex) 변수 = {

      키: 값,
      키: 값,
      키: 값
}

키를 문자열로 할때는 무조건 따옴표 써주세용

In [ ]:
dict_a = {
    "name": "어벤저스 엔드게임",
    "type": "히어로 무비"
}

dict_a

{'name': '어벤저스 엔드게임', 'type': '히어로 무비'}

In [ ]:
dict_a["name"]

'어벤저스 엔드게임'

In [ ]:
dict_b = {
    "director":["안소니 루소", "조 루소" ],
    "cast" : ["아이언맨","타노스","토르","닥터스트레인지"]
}

dict_b["director"]

['안소니 루소', '조 루소']

**딕셔너리 내부에 키가 존재하는지 **

키워드 in

get() 함수: 해당하는 키!!없으면 NONE 뱉음

In [ ]:
#딕셔너리를 선언합니다.
dictionary = {
    "name":"7D 건조 망고",
    "type": "당절임",
    "ingredient":["망고","설탕","메타중아황산나트륨","치자황색소"],
    "origin":"필리핀"
}

#사용자로부터 입력을 받습니다.
key = input(">접근하고자 하는 키: ")

#출력합니다.
if key in dictionary:
  print(dictionary[key])

else:
  print('존재하지 않는 키에 접근하고 있습니다.')

>접근하고자 하는 키: ㅁㅁ
존재하지 않는 키에 접근하고 있습니다.

In [ ]:
value = dictionary.get("존재하지 않는 키")
print("값:",value)

값: None

In [ ]:
for key in dictionary:
  print(key,":",dictionary[key])

name : 7D 건조 망고
type : 당절임
ingredient : ['망고', '설탕', '메타중아황산나트륨', '치자황색소']
origin : 필리핀

##04-3. 반복문과 while 반복문

range(A) ; a는 숫자... ->0~A-1까지 정수로 범위만듦

range(A,B) ; A~B-1까지의 정수로 범위

range(A,B,C) ; A~B-1까지의 정수로 범위 만드는데, 앞뒤의 숫자가 C만큼 차이남

In [1]:
a = range(5)
a

range(0, 5)

In [2]:
list (range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list (range(0,5))

[0, 1, 2, 3, 4]

In [4]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

range 매개변수는 무적권 정수!

In [5]:
#잘못된것
n=10
a=range(0,n/2)

TypeError: ignored

In [ ]:
a = range(0,int(n/2))
list(a)

#실수를 정수로 바꾸는 것 보다 정수 나누기 연산자를 더 씀!
a = range(0,n//2)
list(a)

**for 반복문**

for 숫자 변수 in 범위:

      코드

In [ ]:
for i in range(5):
  print(str(i)+"=반복 변수")

print()

for i in range(5,10):
  print(str(i)+"=반복 변수")

print()

for i in range(0,10,3):
  print(str(i)+"=반복 변수")
print()

In [ ]:
array = [273,32,103,57,52]

for element in array:
  print(element)

In [ ]:
for i in range(len(array)):
  print("{}번째 반복 : {}".format(i,array[i]))

In [ ]:
#역반복문
for i in range(4,0-1,-1):
  print("현재 반복 변수: {}".format(i))

In [ ]:
for i in reversed(range(5)):
  print("헌재 반복 변수 : {}".format(i))

**While 반복문**

while 불 표현식:

    문장

<불표현식>이 참인동안 문장 반복

무한 반복이면 ctrl +c로 강제 종료

In [ ]:
while True:
  #"."을 출력합니다.
  #기본적으로 end가 "\n"이라 줄바꿈이 일어나는데
  #빈 문자열 ""로 바꿔서 줄바꿈이 일어나지 않게 합니다.
  print(".",end = "")

In [ ]:
i=0
while i<10:
  print("{}번째 반복입니다.".format(i))
  i +=1

In [ ]:
list_test = [1,2,1,2]
value = 2

#list_test 내부에 value가 있다면 반복
while value in list_test:
  list_test.remove(value)

print(list_test)

유닉스 타임이란 세계 표준시로 1970년 1월1일 0시 0분 0초를 기준으로 몇초가 지났는지를 정수로 나타낸것....

In [ ]:
import time
time.time()

In [ ]:
#시간과 관련된 기능을 가져옵니다.
import time

#변수를 선언
number= 0

#5초 동안 반복합니다.
target_tick = time.time()+5
while time.time()<target_tick:
  number +=1

print("5초 동안 {}번 반복했습니다.".format(number))

In [ ]:
i = 0

#무한반복
while True:
  print("{}번째 반복문입니다.".format(i))
  i = i+1
  #반복을 종료합니다.
  input_text = input (">종료하시겠습니까?(y):")
  if input_text in ["y","Y"]:
    print("반복을 종료합니다.")
    break

In [ ]:
numbers = [5,15,6,20,7,25]

for number in numbers :
  if number <10:
    continue
  print(number)

##04-4. 문자열, 리스트, 딕셔너리와 관련된 기본 함수

min() : 리스트 내부에서 최솟값 찾기

max() : 리스트 내부에서 최댓값 찾기

sum() : 리스트 내부에서 값을 모두 더함

In [8]:
numbers = [103,52,273,32,77]
print(min(numbers))
print(max(numbers))
print(sum(numbers))

32
273
537

In [9]:
min(32,24,1)

1

In [11]:
#리스트를 선언하고 뒤집습니다.
list_a =[1,2,3,4,5]
list_reversed = reversed(list_a)

#출력합니다.
print("# reversed() 함수")
print("reversed([1,2,3,4,5]):",list_reversed)
print("list(reversed([1,2,3,4,5])):",list(list_reversed))
print()

#반복문을 적용해 봅니다
print("# reversed() 함수와 반복문")
print("for i in reverd([1,2,3,4,5]):")
for i in reversed(list_a):
  print("-",i)

# reversed() 함수
reversed([1,2,3,4,5]): <list_reverseiterator object at 0x7f4abcdd8ad0>
list(reversed([1,2,3,4,5])): [5, 4, 3, 2, 1]

# reversed() 함수와 반복문
for i in reverd([1,2,3,4,5]):
- 5
- 4
- 3
- 2
- 1

reversed() 함수의 결과는 **제너레이터**

함수의 결과를 여러번 사용하지 않음

여러번 사용하려면 그냥 reversed함수 바로 쓰기

In [12]:
numbers = [1,2,3,4,5,6]

for i in reversed(numbers):
  print("첫번째 반복문 : {}".format(i))

for i in reversed(numbers):
  print("두번째 반복문 : {}".format(i))

첫번째 반복문 : 6
첫번째 반복문 : 5
첫번째 반복문 : 4
첫번째 반복문 : 3
첫번째 반복문 : 2
첫번째 반복문 : 1
두번째 반복문 : 6
두번째 반복문 : 5
두번째 반복문 : 4
두번째 반복문 : 3
두번째 반복문 : 2
두번째 반복문 : 1

확장 슬라이싱 : 리스트 뒤집을 때

[::-1]쓴다!

비파괴적, 원본에 영향없, 문자열에도 적용

In [13]:
numbers = [1,2,3,4,5]
numbers[::-1]

[5, 4, 3, 2, 1]

In [14]:
"안녕하세요"[::-1]

'요세하녕안'

In [15]:
example_list = ["요소A","요소B","요소C"]
i=0
for item in example_list:
  print("{}번째 요소는 {}입니다.".format(i,item))
  i+=1

for i in range(len(example_list)):
  print("{}번째 요소는 {}입니다.".format(i,example_list[i]))

0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.
0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

In [17]:
print("#단순 출력")
print(example_list)
print()

#enumerate() 함수 적용
print("#enumerate() 함수 적용 출력")
print(enumerate(example_list))
print()

#list()함수로 강제 변환해 출력
print("#list() 함수로 강제 변환 출력")
print(list(enumerate(example_list)))
print()

#for 반복문과 enumerate()함수 조합해서 사용
print("#반복문과 조합하기")
for i, value in enumerate(example_list):
  print("{}번째 요소는 {}입니다.".format(i,value))

#단순 출력
['요소A', '요소B', '요소C']

#enumerate() 함수 적용 출력
<enumerate object at 0x7f4abcde4550>

#list() 함수로 강제 변환 출력
[(0, '요소A'), (1, '요소B'), (2, '요소C')]

#반복문과 조합하기
0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

In [19]:
#변수를 선언합니다.
example_dictionary ={
    "키A":"값A",
    "키B":"값B",
    "키C":"값C"
}

#딕셔너리의 items()함수 결과 출력하기
print("#딕셔너리의 items() 함수")
print("items():",example_dictionary.items())
print()

#for 반복문과 items() 함수 조합해서 사용하기
print("#딕셔너리의 items() 함수와 반복문 조합하기")

for key, element in example_dictionary.items():
  print("dictionary[{}] = {}".format(key,element))

#딕셔너리의 items() 함수
items(): dict_items([('키A', '값A'), ('키B', '값B'), ('키C', '값C')])

#딕셔너리의 items() 함수와 반복문 조합하기
dictionary[키A] = 값A
dictionary[키B] = 값B
dictionary[키C] = 값C

In [20]:
#변수를 선언합니다
array =[]

#반복문을 적용합니다.
for i in range(0,20,2):
  array.append(i*i)

#출력합니다.
print(array)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [21]:
array = [i*i for i in range(0,20,2)]    #최종결과를 앞에 작성
print(array)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

**리스트 내포**

리스트 이름 = [표현식 for 반복자 in 반복할 수 있는 것]

리스트 이름 = [표현식 for 반복자 in 반복할 수 잇는 것 if 조건문]

In [24]:
array = ["사과","자두","초콜릿","바나나","체리"]
output = [fruit for fruit in array if fruit !="초콜릿"]

print(output)

['사과', '자두', '바나나', '체리']

In [26]:
test = (
    "이렇게"
    "해도"
    "하나로"
    "나옴"
    "ㅋㅋ"
)

print(test)

이렇게해도하나로나옴ㅋㅋ

문자열.join(문자열로 구성된 리스트)

In [27]:
print("::".join(["1","2","3"]))

1::2::3

In [29]:
number = int(input("정수 입력>"))

if number%2 ==0:
  print("\n".join([
                   "입력한 문자열은 {}입니다.",
                   "{}는 짝수 입니다."
  ]).format(number,number))
  
else:
  print("\n".join([
                   "입력한 문자열은 {}입니다.",
                   "{}는 홀수 입니다."
  ]).format(number,number))

정수 입력>3
입력한 문자열은 3입니다.
3는 홀수 입니다.

반복할 수 있는 것을 **이터러블**이라고 한다.

차례대로 꺼낼 수 있는 객체를 의미함.

In [30]:
numbers = [1,2,3,4,5,6]
r_num = reversed(numbers)

#reversed_numbers 를 출력합니다.
print("reversed_numbers :",r_num)
print(next(r_num))
print(next(r_num))

reversed_numbers : <list_reverseiterator object at 0x7f4abcd6ba90>
6
5