##05-1.함수만들기

def 함수이름():
  
    문장

In [ ]:
def print_3_times():
  print("안녕하세요")
  print("안녕하세요")
  print("안녕하세요")

print_3_times()

안녕하세요
안녕하세요
안녕하세요

def 함수이름(매개변수,매개변수,...):

    문장

In [ ]:
def print_n_times(value,n):
  for i in range(n):
    print(value)

print_n_times("안녕하세요",5)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

매개변수를 원하는 만큼 받을 수 있는 함수를 **가변 매개변수**

def 함수이름(매개변수,매개변수,.....,*가변매개변수)

    문장

- 가변매개변수 뒤에는 일반 매개변수가 못옴
- 가변매개변수는 하나만 사용할 수 있음

In [ ]:
def print_n_times(n,*values):
  #n번 반복합니다.
  for i in range(n):
    #values는 리스트처럼 활용
    for value in values:
      print(value)
    print()

print_n_times(3,"안녕하세요","즐거운","파이썬 프로그래밍")

**기본 매개변수** : "매개변수 = 값"

매개변수를 입력하지 않았을 때 들어가는 기본 값임

- 기본 매개변수 뒤에는 일반 매개변수가 올 수 없음

In [ ]:
def print_n_times(value, n=2):    #입력을 안하면 n은 기본값 2로 고정됨
  for i in range(n):
    print(value)

print_n_times("안녕하세요",10)

('안녕하세요', 10)
('안녕하세요', 10)

In [ ]:
def print_n_times(*values,n=2):
  for i in range(n):
    for value in values:
      print(value)
    print()

print_n_times("안녕하세요","즐거운","파이썬",n=3)

안녕하세요
즐거운
파이썬
3

안녕하세요
즐거운
파이썬
3

In [ ]:
def test(a,b=10,c=100):
  print(a*b+c)

#기본형태
test(10,20,30)

#키워드 매개변수로 모든 매개변수를 지정
test(a = 10,b=100,c=200)

#키워드 매개변수를 마구잡이
test(c=10,a=100,b=200)

#일부만 키워드 매개변수
test(10,c=200)

230
1200
20010
300

return키워드는 함수를 실행했던 위치로 돌아가라는 의미, 여기서 끝내라!

In [ ]:
def return_test():
  print("A 위치입니다.")
  return
  print("B 위치입니다.")

return_test()

A 위치입니다.

In [ ]:
def return_test():
  return 100

value = return_test()
print(value)

100

None 은 파이썬에서 없다는 의미!

In [ ]:
def return_test():
  return
value = return_test()
print(value)

None

def 함수(매개변수):

  변수 = 초깃값
  #여러가지 처리
  
  return 변수

In [ ]:
#함수를 선언합니다.
def sum_all(start,end):
  #변수 선언
  output = 0
  #반복문을 돌려 숫자를 더합니다.
  for i in range(start,end+1):
    output +=i

    #리턴합니다.
  return output

print("0 to 100:", sum_all(0,100))
print("0 to 1000:",sum_all(0,1000))

0 to 100: 5050
0 to 1000: 500500

##05-2.함수의 활용

In [1]:
#반복문으로 팩토리얼 구하기

#함수를 선언합니다.
def factorial(n):
  #변수를 선언합니다.
  output = 1
  #반복문을 돌려 숫자를 더합니다.
  for i in range(1,n+1):
    output *= i
  #리턴합니다.
  return output

#함수를 호출합니다.
print("1!:",factorial(1))
print("2!:",factorial(2))
print("3!:",factorial(3))

1!: 1
2!: 2
3!: 6

In [4]:
#재귀함수로 팩토리얼 구하기

#함수를 선언합니다.
def factorial(n):
  #n이 0이라면 1을 리턴
  if n == 0:
    return 1
  #n이 0이 아니라면 n*(n-1)!을 리턴
  else:
    return n*factorial(n-1)
  
print("1!:",factorial(1))
print("2!:",factorial(2))
print("3!:",factorial(3))

1!: 1
2!: 2
3!: 6

In [6]:
#재귀함수로 구현한 피보나치 수열(1)

#함수를 선언합니다.
def fibonacci(n):
  if n==1:
    return 1
  if n==2:
    return 1
  else:
    return fibonacci(n-1)+fibonacci(n-2)

#함수를 호출합니다.
print("fibonacci(1):",fibonacci(1))
print("fibonacci(2):",fibonacci(2))
print("fibonacci(3):",fibonacci(3))
print("fibonacci(4):",fibonacci(4))
print("fibonacci(5):",fibonacci(5))
print(fibonacci(35))    #오래걸령...

fibonacci(1): 1
fibonacci(2): 1
fibonacci(3): 2
fibonacci(4): 3
fibonacci(5): 5
9227465

In [7]:
#재귀함수로 구현한 피보나치 수열(2)

#변수를 선언합니다.
counter =0

#함수를 선언합니다.
def fibonacci(n):
  #어떤 피보나치 수를 구하는지 출력.
  print("fibonacci({})를 구합니다.".format(n))
  global counter
  counter +=1
  #피보나치 수를 구합니다.
  if n==1:
    return 1
  if n==2:
    return 1
  else:
    return fibonacci(n-1)+fibonacci(n-2)


#함수를 호출합니다.
fibonacci(10)
print("---")
print("fibonacci(10) 계산에 활용된 덧셈 횟수는 {}번입니다.".format(counter))

fibonacci(10)를 구합니다.
fibonacci(9)를 구합니다.
fibonacci(8)를 구합니다.
fibonacci(7)를 구합니다.
fibonacci(6)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(6)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(7)를 구합니다.
fibonacci(6)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(8)를 구합니다.
fibonacci(7)를 구합니다.
fibonacci(6)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(6)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
---
fibonacci(10) 계산에 활용된 덧셈 횟수는 109번입니다.

함수 내부에서 함수 외부에 있는 변수 참조 하려면 

global 변수이름

In [8]:
#메모 변수를 만듭니다.
dictionary = {
    1: 1,
    2: 2
}

#함수를 선언합니다.
def fibonacci(n):
  if n in dictionary:
    #메모가 되어 있으면 메모값을 리턴
    return dictionary[n]
  else:
    #메모가 되어 있지 않으면 값을 구함
    output = fibonacci(n-1)+fibonacci(n-2)
    dictionary[n] = output
    return output

#함수 호출
print(fibonacci(10))

89

##05-3.함수 고급

튜플: 함수와 함께 많이 사용되는 리스트 비슷한 자료형, 한번 결정된 요소 변경x

(데이터,데이터,데이터....)

요소를 하나만 가지는건 (273, )같이 콤마 해줘야함.

In [10]:
#괄호가 없는 튜플
tuple_test =10,20,30,40
print("#괄호가 없는 튜플의 값과 자료형 출력")
print("tuple_test:",tuple_test)
print("type(tuple_test):",type(tuple_test))
print()

#괄호가 없는 튜플 활용
a,b,c=10,20,30
print("#괄호가 없는 튜플을 활용한 할당")
print("a:",a)
print("b:",b)
print("c:",c)

#괄호가 없는 튜플의 값과 자료형 출력
tuple_test: (10, 20, 30, 40)
type(tuple_test): <class 'tuple'>

#괄호가 없는 튜플을 활용한 할당
a: 10
b: 20
c: 30

In [11]:
a,b = 10,20

print("# 교환 전 값")
print("a:",a)
print("b:",b)
print()

#값을 교환합니다.
a,b = b,a
print("#교환 후 값")
print("a:",a)
print("b:",b)
print()

# 교환 전 값
a: 10
b: 20

#교환 후 값
a: 20
b: 10

In [13]:
#함수를 선언합니다.
def test():
  return (10,20)

a,b = test()

#출력합니다.
print("a:",a)
print("b:",b)

a: 10
b: 20

람다 : 함수의 기능을 매개변수로 전달하는 기능

In [14]:
#매개변수로 받은 함수를 10번 호출하는 함수
def call_10_times(func):
  for i in range(10):
    func()

#간단한 출력하는 함수
def print_hello():
  print("안녕하세얌")


#조합하기
call_10_times(print_hello)

안녕하세얌
안녕하세얌
안녕하세얌
안녕하세얌
안녕하세얌
안녕하세얌
안녕하세얌
안녕하세얌
안녕하세얌
안녕하세얌

map(함수,리스트) : 리스트의 요소를 함수에 넣고 리턴된 값으로 새로운 리스트 구성

filter(함수,리스트): 리스트의 요소를 함수에 넣고 리턴된 값이 true 인것으로 새로운 리스트 구성

In [15]:
#함수를 선언
def power(item):
  return item*item
def under_3(item):
  return item<3

#변수를 선언합니다.
list_input_a = [1,2,3,4,5]

#map()함수를 사용
output_a = map(power,list_input_a)
print("#map()함수의 실행결과")
print("map(power,list_input_a):",output_a)
print("map(power,list_input_a):",list(output_a))
print()

#filter()함수를 사용
output_b = filter(under_3,list_input_a)
print("#filter()함수의 실행결과")
print("filter(under_3,list_input_a):",output_b)
print("filter(under_3,list_input_a):",list(output_b))

#map()함수의 실행결과
map(power,list_input_a): <map object at 0x7f45dd76c0d0>
map(power,list_input_a): [1, 4, 9, 16, 25]

#filter()함수의 실행결과
filter(under_3,list_input_a): <filter object at 0x7f45e7a595d0>
filter(under_3,list_input_a): [1, 2]

람다, 간단한 함수를 쉽게 선언하는 방법


lambda 매개변수 : 리턴값

In [17]:
#함수를 선언합니다.
power = lambda x: x*x
under_3 = lambda x: x<3

#변수를 선언합니다.
list_input_a = [1,2,3,4,5]

#map()함수를 사용합니당..
output_a = map(power,list_input_a)
print(list(output_a))
print()

#filter()함수를 사용합니당...
output_b = filter(under_3,list_input_a)
print(list(output_b))
print()

[1, 4, 9, 16, 25]

[1, 2]

In [18]:
#인라인 람다

#변수 선언
list_input_a = [1,2,3,4,5]

#map()함수
output_a = map(lambda x: x*x,list_input_a)
print(list(output_a))
print()


#filter()함수
output_b = filter(lambda x: x<3,list_input_a)
print(list(output_b))

[1, 4, 9, 16, 25]

[1, 2]

**파일처리**

파일 열때: 파일 객체 = open(문자열:파일경로,문자열:모드)
- w:write모드
- a:append모드
- r: read모드

파일 닫을 때: 파일 객체.close()

파일객체.write("쓸말")

파일객체.read()

with open(파일경로,모드) as 파일 객체:

    문장

In [ ]:
#파일을 엽니다.
with open("basic.txt","w") as file:
  #파일에 텍스트를 씁니다.
  file.write("Hello")   #이러면 with구문이 종료될때 파일이 자동으로 닫힘.

In [ ]:
#파일을 엽니다.
with open("basic.txt","r") as file:
  contents = file.read()
print(contents)

In [ ]:
import random

hanguls = list("가나다라마바사아자차카타파하")

with open("info.txt","w") as file:
    for i in range(1000):
        name = random.choice(hanguls) + random.choice(hanguls)
        weight = random.randrange(40,100)
        height = random.randrange(140,200)

        file.write("{},{},{}\n".format(name,weight,height))

for 한줄을 나타내는 문자열 in 파일 객체:

    처리

In [ ]:
with open("info.txt","r") as file:
    for line in file:
        (name,weight,height) = line.strip().split(",")    #strip는 문자열 공백 없애는거 split는 , 기준으로 나누는거..

        #데이터가 문제 없는지 확인: 문제있으면 지나감
        if (not name) or (not weight) or (not height):
            continue
        #결과 계산
        bmi = int(weight)/((int(height)/100)**2)
        result = ""
        if 25<=bmi:
            result = "과체중"
        elif 18.5<=bmi:
            result = "정상체중"
        else:
            result = "저체중"


        #출력합니다.
        print('\n'.join([
            "이름:{}",
            "몸무게:{}",
            "키:{}",
            "BMI:{}",
            "결과:{}"
            ]).format(name,weight,height,bmi,result))
        print()