여러가지 속성을 가질 수 있는 대상을 객체라 함

In [4]:
#딕셔너리로 객체 만들기

#학생 리스트를 선언합니다.
students = [
            {"name":"윤인성","korean":87,"math":98,"english":88,"science":95},
            {"name":"연하진","korean":92,"math":98,"english":96,"science":98},
            {"name":"구지연","korean":76,"math":96,"english":94,"science":90}
]

#학생을 한명씩 반복합니다.
print("이름","총점","평균",sep="\t")
for student in students:
  score_sum = student["korean"]+student["math"]+\
  student["english"]+student["science"]

  score_avg=score_sum/4
  print(student["name"],score_sum,score_avg,sep="\t")

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0

In [6]:
#딕셔너리를 리턴하는 함수를 선언합니다.
def create_student(name,korean,math,english,science):
  return{
      "name":name,
      "korean":korean,
      "math":math,
      "english":english,
      "science":science
  }

#학생 리스트를 선언합니다.
students = [
            create_student("윤인성",87,98,88,95),
            create_student("연하진",92,98,96,97),
            create_student("구지연",76,34,54,23)
            
]

print("이름","총점","평균",sep="\t")

for student in students:
    score_sum = student["korean"]+student["math"]+\
    student["english"]+student["science"]

    score_avg=score_sum/4
    print(student["name"],score_sum,score_avg,sep="\t")

이름	총점	평균
윤인성	368	92.0
연하진	383	95.75
구지연	187	46.75

In [8]:
def create_student(name,korean,math,english,science):
  return{
      "name":name,
      "korean":korean,
      "math":math,
      "english":english,
      "science":science
  }

#학생을 처리하는 함수 선언
def student_get_sum(student):
  return student["korean"]+student["math"]+\
  student["english"]+student["science"]

def student_get_average(student):
  return student_get_sum(student)/4

def student_to_string(student):
  return "{}\t{}\t{}".format(
      student["name"],
      student_get_sum(student),
      student_get_average(student)
  )

students = [
            create_student("윤인성",87,98,88,95),
            create_student("연하진",92,98,96,97),
            create_student("구지연",76,34,54,23)
            
]

print("이름","총점","평균",sep="\t")

for student in students:
  print(student_to_string(student))

이름	총점	평균
윤인성	368	92.0
연하진	383	95.75
구지연	187	46.75

class 클래스 이름:

클래스 내용


클래스는 앞을가를 대문자로 만드는 캐멀케이스 규칙으로 이름 지어야함!

인스턴스 이름(변수 이름) = 클래스 이름() ->생성자 함수라고 부르기도함

class 클래스 이름:

def _ _ init _ _(self,추가적인 매개변수):

pass

__ init __으로 객체 생성할 때 처리할 내용 작성 가능

In [9]:
#클래스를 선언합니다.
class Student:
  def __init__(self,name,korean,math,english,science):
    self.name = name
    self.korean = korean
    self.math = math
    self.english = english
    self.science = science

#학생 리스트를 선언합니다.
students = [
            Student("윤인성",87,98,88,95),
            Student("연하진",92,98,97,98),
            Student("구지연",76,96,94,90)
]

#Student 인스턴스의 속성에 접근하는 방법
students[0].name
students[0].korean

87

In [12]:
#소멸자

class Test:
  def __init__(self,name ):
    self.name = name
    print("{}-생성되었습니다.".format(self.name))
  
  def __del__(self):
    print("{}-파괴되었습니다.".format(self.name))


test = Test("A")

A-생성되었습니다.

클래스가 가지고 있는 함수를 메소드라고 한다.

In [15]:

class Student:
  def __init__(self,name,korean,math,english,science):
    self.name = name
    self.korean = korean
    self.math = math
    self.english = english
    self.science = science

  def get_sum(self):
    return self.korean+self.math+\
    self.english+self.science

  def get_avg(self):
    return self.get_sum()/4

  def to_string(self):
    return "{}\t{}\t{}".format(\
                               self.name,\
                               self.get_sum(),\
                               self.get_avg())

students = [
            Student("윤인성",87,98,88,95),
            Student("연하진",92,98,96,97),
            Student("구지연",76,34,54,23)
            
]

print("이름","총점","평균",sep="\t")


for student in students:
  print(student.to_string())

이름	총점	평균
윤인성	368	92.0
연하진	383	95.75
구지연	187	46.75

In [17]:
#어떤 클래스의 인스턴스인지 확인하기

#클래스 선언
class Student:
  def __init__(self):
    pass

#학생을 선언
student = Student()

#인스턴스 확인하기
print("isinstance(student,Student):",isinstance(student,Student))

isinstance(student,Student): True

In [19]:
#단순한 인스턶스 확인이면
type(student)==Student

True